<%- include("partial/header"); -%>

<section id="data">
  <div class="home item1">
    <h1>About Us</h1>
    <p>
      The Latin word data is the plural of datum, "(thing) given", neuter past
      participle of dare, "to give".[6] The first English use of the word "data"
      is from the 1640s. The word "data" was first used to mean "transmissible
      and storable computer information" in 1946. The expression "data
      processing" was first used in 1954.
    </p>
  </div>
</section>
<%- include("partial/footer"); -%>
