<%- include("partial/header"); -%>

<section id="data">
  <div class="home item1">
    <h1>Contact Us</h1>
    <p>
      P. Beynon-Davies (2002). Information Systems: An introduction to
      informatics in organisations. Basingstoke, UK: Palgrave Macmillan. ISBN
      0-333-96390-3.
    </p>
  </div>
</section>
<%- include("partial/footer"); -%>
