label {
  display: block;
  font-weight: bold;
}
label,
input,
textarea {
  margin-left: 20%;
}

form {
  margin-top: 2%;
}

textarea {
  width: 60vw;
  margin-left: 20%;
}

input {
  margin-bottom: 1%;
  padding: 10px 12px;
  margin-left: 20%;
  width: 60vw;
}

h2 {
  margin-top: 3%;
  text-align: center;
}

.btn {
  margin-left: 46%;
}
