<%- include("header"); -%>

<link rel="stylesheet" href="css/compose.css">
<h2>Conclude Your Day Here 🙂</h2>

<form action="/" method="post">
    <label for="title">Title</label>
    <input type="text" name="composeDay" id="title" required>
    <label for="composeMessage">How Was Your Day</label>
    <textarea name="compose" id="composeMessage" rows="8" required > </textarea>
    <button type="submit" class="btn btn-outline-primary">Done Bro</button>
</form>








<%- include("footer"); -%>