<%- include("header"); -%>
<link rel="stylesheet" href="../css/style.css">  <!--Look how path is written-->
<section id="data">
<div>
  <h1><%= upper %></h1>
  <p><%= lower %></p>
</div>
</section>
<%- include("footer"); -%>
